RewriteEngine On

# Permitir servir archivos reales
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Permitir servir directorios reales
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Para cualquier otra ruta, cargar index.html
RewriteRule ^ index.html [L]

