RewriteEngine On

# No tocar archivos reales
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# No tocar directorios reales
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# No redirigir nada que empiece con /api
RewriteRule ^api/ - [L]

# Todo lo demás va a index.html
RewriteRule ^ index.html [L]

